<div class="banner">
  <h1>{{title}}</h1>
</div>

<div class="container">
  <div class="players">
    {{#each players}}
    <div class="player">
      <div class="player__image">
        <img src="images/{{this.image}}" alt="{{this.image}}">
      </div>
      <h2>{{this.name}}</h2>
      <div class="player__stats">
        <p>Team: {{this.team}}</p>
        <p>Points: {{this.points}}</p>
        <p>Assists: {{this.assists}}</p>
        <p>Rebounds: {{this.rebounds}}</p>
        <p>Steals: {{this.steals}}</p>
        <p>Blocks: {{this.blocks}}</p>
        <p>Number of NBA Titles: {{this.nbaTitles}}</p>
        <p>Number of MVP Titles: {{this.mvpTitles}}</p>
      </div>
      <div class="player__btn">
        <a href="/{{this.id}}">View More</a>
      </div>
    </div>
    {{/each}}
  </div>

  <form action="/api/players" method="POST" class="form">
    <div class="form__field">
      <label for="id">ID</label>
      <input type="text" id="id" name="id" required>
    </div>
    <div class="form__field">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form__field">
      <label for="team">Team</label>
      <input type="text" id="team" name="team" required>
    </div>
    <div class="form__field form__field--stats">
      <label for="points">Points</label>
      <input type="number" id="points" name="points" required>
      <label for="assists">Assists</label>
      <input type="number" id="assists" name="assists" required>
      <label for="rebounds">Rebounds</label>
      <input type="number" id="rebounds" name="rebounds" required>
      <label for="steals">Steals</label>
      <input type="number" id="steals" name="steals" required>
      <label for="blocks">Blocks</label>
      <input type="number" id="blocks" name="blocks" required>
    </div>

    <div class="form__field">
      <label for="nba-titles">Number of NBA Titles</label>
      <input type="number" id="nba-titles" name="nba-titles">
      <label for="mvp-titles">Number of MVP Titles</label>
      <input type="number" id="mvp-titles" name="mvp-titles">
    </div>

    <input type="submit" value="Add Hall of Famer" class="submit-btn">
  </form>
</div>