{{#each singlePlayer}}
<div class="single-player">
  <div class="single-player__image">
    <img src="images/{{this.image}}" alt="{{this.image}}">
  </div>
  <div class="single-player__stats">
    <h1>{{this.name}}</h1>
    <p>Team: {{this.team}}</p>
    <p>Points: {{this.points}}</p>
    <p>Assists: {{this.assists}}</p>
    <p>Rebounds: {{this.rebounds}}</p>
    <p>Steals: {{this.steals}}</p>
    <p>Blocks: {{this.blocks}}</p>
    <p>Number of NBA Titles: {{this.nbaTitles}}</p>
    <p>Number of MVP Titles: {{this.mvpTitles}}</p>
  </div>
</div>
{{/each}}